.div-sign-up-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 19.5rem;
	min-height: 5rem;
	padding: 0.5rem;
	border: 0.1rem solid var(--coral);
	margin: 1rem;
}
