button {
	font-size: 10px;
	color: var(--white);
	background-color: var(--black);
	border-color: var(--black);
	border-width: 2px;
	border-style: solid;
	border-radius: 3px;
	padding: 5px 20px;
}

/** Large & Small *************** */
.button-large {
	padding: 10px 50px;
}

.button-small {
	padding: 2px 10px;
}

.button-primary {
	background-color: var(--aqua);
	border-color: var(--aqua);
}

.button-primary-outline {
	color: var(--coral);
	border-color: var(--aqua);
	background-color: transparent;
}

.button-primary-haze {
	color: var(--coral);
	background-color: var(--aqua-haze);
	border-color: var(--aqua-haze);
}

/** Hover *************** */
button:hover {
	filter: brightness(0.95);
}
