/** Variables ############### */
:root {
	--white: #ffffff;
	--white-off: #f0f8ff;
	--white-near: #f2f4f7;
	--red: #eb5050;
	--pink: #e97da4;
	--coral: #ff6f62;
	--green: #bef57c;
	--green-medium: #57a157;
	--aqua: #92dbe1;
	--aqua-haze: #c3d3d4;
	--blue: #8ba6e9;
	--blue-light: #bed0f4;
	--blue-medium: #7e96c4;
	--blue-bright: #005eff;
	--blue-dark: #001d81;
	--blue-transparent: 0, 29, 129;
	--purple: #9376e4;
	--khaki: #d7b7bc;
	--silver: #c0c0c0;
	--gray: #788ea1;
	--gray-dark: #504c4e;
	--black: #000000;
}

/** Reset ###############  */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/** Body ********************* */
body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	width: 100vw;
	height: 100vh;
}

.App {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}
