.navbar {
	width: 100%;
	max-width: 30rem;
}

.navbar > ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	list-style: none;
	text-decoration: none;
}

.navbar > ul > a > li {
	color: var(--blue-medium);
	margin-right: 1rem;
}

a {
	text-decoration: none;
}

.navbar > ul > a > li:hover {
	color: var(--red);
	/* filter: brightness(0.9); */
}

.navbar > ul > a > li:active {
	color: var(--green);
	text-decoration: underline;
}
