header {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 90%;
	padding: 1rem;
	margin-bottom: 1rem;
}

.h1-title {
	font-size: 3rem;
	color: var(--blue);
	margin-top: 0.5rem;
}

.h2-subtitle {
	color: var(--pink-dark);
	padding-bottom: 1rem;
}
