.navbar {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.navbar > ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
	list-style: none;
	margin-left: 10%;
}

.navbar > ul > li {
	color: var(--blue-dark);
	margin-right: 1rem;
}

.div-form {
	width: 10rem;
}

.div-form-sign-in {
	margin-left: auto;
}

.div-form > p {
	color: var(--blue-dark);
}
