.navbar {
	display: flex;
	height: 70px;
	align-items: center;
	justify-content: center;
}

.famous {
	margin-top: 10px;
	margin-left: 220px;
	color: white;
}

.title {
	margin-top: 1rem;
	text-align: center;
}
